{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
  {{ title }}
{% endblock %}
{% block scripts %}
  {{ super() }}
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
    <div style='left: 15px; top: 10px;' class="alert alert-warning alert-dismissible position-absolute fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Zamknij"></button>
    </div>
{% endfor %}
  <div class="container mt-5 p-4">
    {{ wtf.quick_form(cityForm, action='/city') }}
    {% if weatherData %}
        <table class="table">
          <thead>
            <tr>
              <th>Parametr</th>
              <th>Wartość</th>
            </tr>
          </thead>
          <tbody>
          {% for key, title in keys.items() %}
            <tr>
              <th scope="row">{{ title | title }}</th>
              <td>{{ weatherData[key] }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}