<table class="table table-hover">
    <thead>
        <tr>
            <th>Nazwa przedmiotu</th>
            <th>Oceny - pierwszy semestr</th>
            <th>Średnia</th>
            <th>Ocena semestralna</th>
            <th>Oceny - drugi semestr</th>
            <th>Średnia</th>
            <th>Ocena semestralna</th>
            <th>Średnia roczna</th>
            <th>Ocena roczna</th>
        </tr>
    </thead>
    <tbody>
    <!-- TODO -->
        {% for subject, terms in grades.items() %}
            <tr>
                <td>{{ subject | title }}</td>
                {% for term, categories in terms.items() %}
                    {% if term =='term1' %}
                        <td>
                            {% for category, grades in categories.items() %}
                                {% if category == 'answer' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-danger">{{ grade }}</span>
                                    {% endfor %}
                                {% endif %}
                                {% if category == 'quiz' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-warning">{{ grade }}</span>
                                    {% endfor %}
                                {% endif %}
                                {% if category == 'test' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-info">{{ grade }}</span>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% elif term =='term2' %}
                        <td>
                            {% for category, grades in categories.items() %}
                                {% if category == 'answer' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-danger">{{ grade }}</span>
                                    {% endfor %}
                                {% endif %}
                                {% if category == 'quiz' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-warning">{{ grade }}</span>
                                    {% endfor %}
                                {% endif %}
                                {% if category == 'test' %}
                                    {% for grade in grades %}
                                        <span class="badge bg-info">{{ grade }}</span>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endif %}
                <td>
                    {{ countAverage(subject, term) }}
                </td>
                {% for category, interim in categories.items() %}
                    {% if category == 'interim' %}
                        <td>
                            <span class="badge bg-dark">{{ interim }}</span>
                        </td>
                    {% elif category == 'yearly' %}
                        <td>
                            <span >{{ countAverage( subject, "year" ) }}</span>
                        </td>
                        <td>
                            <span class="badge bg-info">{{ interim }}</span>
                        </td>
                    {% endif %}
                {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
